runpod==1.7.13
Pillow==10.2.0
huggingface-hub==0.20.3
accelerate==0.25.0
transformers==4.36.2
diffusers==0.25.0
einops==0.7.0
torchmetrics==1.2.1
tqdm==4.66.1
scipy==1.11.1
opencv-python-headless==4.9.0.80
fvcore==0.1.5.post20221221
cloudpickle==3.0.0
omegaconf==2.3.0
pycocotools==2.0.7
basicsr==1.4.2
av==11.0.0
onnxruntime-gpu==1.16.3
